.ui-layout-north { /* all 'panes' */
    background: gainsboro;
    border: 1px solid brown;
    overflow: hidden !important;
    min-height:20px;
}

.ui-layout-south {
    overflow: hidden !important;
    min-height:60px;
}

.ui-layout-center {
    overflow: hidden !important;
    height:91%;
}

.proyecto {
    font-size: 36px;
    background-color: darkred;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align:center;
    border:1px solid white;
}

table{
    table-layout:fixed;
    border-collapse:collapse;
    border-spacing:0;
    border-style:hidden;
}

#bloqueo {
    position: absolute;
    top: 10.5vh;
    left: 10.5vw;
    width: 50vw;
    height: 50vh;
    border: 1px solid #000000;
    background: #DDDDDD;
    z-index: 3;
    filter: alpha(opacity=50);
    opacity: .5;
    visibility: hidden;
}

#nuevo_poi {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 50vw;
    height: 50vh;
    border: 1px solid #000000;
    background: #DDDDDD;
    z-index: 4;
    visibility: hidden;
}

#nuevo_poi_sombra {
    position: absolute;
    top: 135px;
    left: 335px;
    height: 200px;
    width: 400px;
    border: 1px solid #AAAAAA;
    background: #AAAAAA;
    z-index: 3;
    filter: alpha(opacity=50);
    opacity: .5;
    visibility: hidden;
}